#form-border{
    border: 3px solid #2196f3;
    width: fit-content;
    margin: 20px auto;
    padding: 20px;
    background-color: #e3f2fd;
    border-radius: 50px;
}

fieldset{
    width: fit-content;
    background-color: #f1f8ff;
    padding: 25px;
    border-radius: 40px;
    border: 2px solid #2196f3;
}

legend{
    text-align: center;
    font-size: x-large;
    font-weight: bold;
}

label{
    display: inline-block;
    width: 200px;
}

#un, #Password, #Email{
    width: 250px;
}

#DateOfBirth{
    width: 250px;
}

#Resume{
    width: 250px;
}

select{
    width: 256px;
}

button{
    display: block;
    border: 2px solid #1976d2;
    margin-top: 25px;
    margin-left: 200px;
    margin: 25px auto;
    background-color: #2196f3;
    width: 150px;
    color: white;
    font-size: larger;
}

button:hover{
    background-color: #1976d2;
    cursor: pointer;
}